<%# Function needed for when logged in to show log out button and welcome text. %>
<%# Why isn't this in react? %>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script id="bootstrap-current-user" type="text/javascript">
  window.staticImages = {
    defaultPic: "<%=asset_path("blank-user.png")  %>",
    groupChat: "<%= asset_path("group-chat.jpeg") %>",
    table: "<%= asset_path("table.png") %>",

    reason1: "<%= asset_path("subway-scene.png") %>",
    reason2: "<%= asset_path("cold-street.jpg") %>",
    reason3: "<%= asset_path("coffee-talk.png") %>",
    appeal: "<%=asset_path("girl-smiles.jpeg") %>",

    github: "<%= asset_path("github-logo.png") %>",
    linkedin: "<%= asset_path("linkedin.webp") %>",

    leftCoffee: "<%=asset_path("coffee-and-beans.png") %>",
    rightCoffee: "<%=asset_path("gourmet-coffee-franchise.jpg") %>",
    coffeeMill: "<%= asset_path("coffee-mill.jpg") %>",
    coffeeBanner: "<%= asset_path("about-banner-photo.jpg") %>",

    profilePic: "<%= asset_path("profile_pic5.jpg") %>",
    spillTeh: "<%= asset_path("spilled-coffee.jpg") %>",
  }


  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<main id="origin">Kapiteh Times View</main>